{% load thumbnail %}
<article>
  <ul>
    <li>
      Автор: <a {% if not author %}href="{% url 'posts:profile' post.author %}"{% endif %}>{{ post.author.get_full_name }}</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text|linebreaks }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
  {% if not group %}
    <p>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">#{{ post.group.title }}</a>
      {% else %}
        <span style='color: red'>Этой публикации нет ни в одном сообществе.</span>
      {% endif %}
    </p>
  {% endif %}
</article>