{% extends 'base.html' %}
{% block title %} Пост {{ post }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          <!-- если у поста есть группа -->
          <li class="list-group-item">
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">#{{ post.group.title }}</a>
          {% else %}
            <span style='color: red'>Этой публикации нет ни в одном сообществе.</span>
          {% endif %}   
          </li>
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора:  <span >{{ post.author.posts.count }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author %}">
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>{{ post.text }}</p>
      </article>
    </div>
  </div>
{% endblock %}